@using Microsoft.AspNetCore.Identity
@using JotFinalProject.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Welcome Back</h2>



