
@{
    Layout = "_Layout";
}


<form asp-action="TestBlob" asp-controller="Note" method="post">
    <button type="submit">Image</button>
</form>

<form method="post" enctype="multipart/form-data" asp-controller="Note" asp-action="TestBlob">
    <div class="form-group">
        <div class="col-md-10">
            <label for="fileName">File Name</label>
            <input type="text" name="fileName" id="fileName"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload your image</p>
            <input type="file" name="file" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>