@model JotFinalProject.Models.AccountViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<html>
<body>
    <div class="wrapper">
        <div class="logreg_form">
            <h3>Login</h3>

            <form class="form" action="/Account/Login" method="post">
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" placeholder="Email" class="form-control"/>
                    <span asp-validation-for="Email"/>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" alt="Password" placeholder="Password" class="form-control"/>
                    <span asp-validation-for="Password"/>
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
