@model JotFinalProject.Models.AccountViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<html>
<body>
    <div class="container">
        <form class="form-signin" action="/Account/Login" method="post">
            <div asp-validation-summary="All"></div>
            <label asp-for="Email" class="sr-only"></label>
            <input asp-for="Email" placeholder="Email" class="form-control" />
            <span asp-validation-for="Email" />
            <label asp-for="Password" class="sr-only"></label>
            <input asp-for="Password" alt="Password" placeholder="Password" class="form-control" />
            <span asp-validation-for="Password" />
            <br>
            <button type="submit" class="btn btn-lg btn-primary btn-block">LOGIN</button>
        </form>

        <br>
        <h5>New User?</h5>
        <a class="linkbutton" asp-controller="Account" asp-action="Register" >REGISTER</a>
    </div>
</body>
</html>
