@model JotFinalProject.Models.AccountViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}


<div class="container">
    <form class="form-signin" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

        <div asp-validation-summary="All" class="text-danger"></div>

            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>

            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>


            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <br>
        <button type="submit" class="btn btn-lg btn-primary btn-block">REGISTER</button>
    </form>
</div>