@model JotFinalProject.Models.Category
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<div class="container-fluid">
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Name" class="control-label float-right align-center">Name:</label>

            </div>
            <div class="col-md-4">
                <input asp-for="Name" class="form-control" />

                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>


<div class="text-center mt-4">
    <a asp-action="Index"><h6 class="d-inline ml-4">Back to Categories</h6></a>
</div>