@model JotFinalProject.Models.Category
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h2>Notes</h2>
<br />
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model.Notes)
        {
            <div class="col-md-4 mb-5">
                <div class="p-4 preview-cards position-relative h-100">
                    <h4>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h4>
                    <a asp-action="Details" asp-controller="Notes" asp-route-id="@item.ID"><div class="btn btn-primary card-button">Details</div></a>
                </div>
            </div>
        }

    </div>
</div>
<br />
<br />
<div>
    <a class="linkbut" asp-action="Index">Back to Categories</a>
</div>

