@model JotFinalProject.Models.Category
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<p>
    <a asp-action="Index"><h6 class="d-inline ml-4">Back to Categories</h6></a>
</p>

<hr />

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model.Notes)
        {
            <div class="col-md-4 mb-5">
                <div class="p-4 preview-cards position-relative h-100">
                    <h4>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h4>
                    <span class="badge badge-primary mb-4" id="@Html.DisplayFor(modelItem => item.Text)">
                        @Html.DisplayFor(modelItem => item.Text)
                    </span>
                    <a asp-action="Details" asp-controller="Note" asp-route-id="@item.ID"><div class="btn btn-primary card-button">Details</div></a>
                </div>
            </div>
        }
    </div>
</div>

