@{
    Layout = "_Layout";
}

<img src="http://2.bp.blogspot.com/-jCjNdPcve0U/UbYj7sapwCI/AAAAAAAABY4/IFI2Ix5MezA/s1600/IMG_0127.JPG" style="max-width: 600px"/>
<p style="text-align: center; font-size: 18px; margin: 3px;">
    @ViewData["data"]
</p>